.vscode
/virtualenv
/unc
/logs
/figures
/results
*.png
__pycache__
src/autodiff/__pycache__
src/datasets/__pycache__
src/estimators/__pycache__
src/lanczos/__pycache__
src/models/__pycache__
src/ood_scores/__pycache__
src/sketches/__pycache__
src/training/__pycache__
bash
src/__pycache__
uq_benchmark
exp
exp_dummy
tutorial

__pycache__/
*.egg-info/

unc/
results/
figures/
visualizations/
.vscode/
/*.png

models_tianle/
marian_code/
./datasets/
cache/

*.pth
yolo11n.pt

# Large model files to exclude from tracking
jax_hmp_files/dct_pose_transformer_flax.pickle
jax_hmp_files/transformer_model.pth
src/ViTPose/vitpose_full_h36m_S1_S9.pth

*.code-workspace

runs/
yolo*.ptcache/
