/virtualenv
/logs
src/autodiff/__pycache__
src/datasets/__pycache__
src/estimators/__pycache__
src/lanczos/__pycache__
src/models/__pycache__
src/ood_scores/__pycache__
src/sketches/__pycache__
src/training/__pycache__
bash
src/__pycache__
uq_benchmark
exp
exp_dummy
tutorial

__pycache__/

unc/
results/
figures/
visualizations/
.vscode/
/*.png

models_tianle/
marian_code/

*.pth

*.code-workspace