[submodule "ros2_packages/realsense_rgbd_streamer"]
	path = ros2_packages/realsense_rgbd_streamer
	url = git@github.com:JakobThumm/realsense_rgbd_streamer.git
[submodule "ros2_packages/uq_msgs"]
	path = ros2_packages/uq_msgs
	url = git@github.com:JakobThumm/uq_msgs.git
