numpy==1.26.3
flax==0.11.0
scipy==1.11.4
torch==2.4.0
torchvision==0.19.0
optax==0.2.5
matfree==0.0.18
tree_math==0.2.0
urllib3==1.26.15
sklearn==0.0
matplotlib==3.8.2
seaborn==0.13.1
pandas==1.5.2
tqdm
# Additional packages for human pose estimation
opencv-python~=4.10
einops
h5py
easydict
imageio
filterpy
Pillow
spacepy
ultralytics
wandb
empy
catkin_pkg
lark
lap
zstandard